body {
    font-family: Roboto;
}

/* стилизация таблицы и импута */
.input_wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.input_inner {
    display: flex;
    flex-direction: column;
}
.label_input {
    font-weight: 400;
    font-size: 24px;
}
.input {
    width: 879px;
    height: 61px;
    background: #F5F5F7;
    border-radius: 14px;
    font-size: 22px;
}
.button {
    width: 160px;
    height: 61px;
    background-color: #0c0b0b;
    color: #ffffff;
    border-radius: 14px;
    font-weight: 400;
    font-size: 24px;
    line-height: 0px;
}
.table_inner {
    margin-top: 50px;
    margin-left: 200px;
}
.table {
    width: 1159px;
    font-weight: 400;
    font-size: 24px;
    border-spacing: 0 20px;
}
.grey_tr {
    background: #F5F5F7;
    border-spacing: 0;
    text-align: center;
    width: 1157px;
    height: 71px;
}
td:first-child {
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
td:last-child {
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}
.pokemon_pic {
    width: 50px;
    height: 50px;
}